BOT_TOKEN=
FRAGMENT_COOKIE=stel_ssid=a7b6fb790b1cf79518_17306544438806845041; stel_dt=-480; stel_token=c97eac40cb184ba7a07350ec653b46ebc97eac5ac97eac70a01acb99f8b38ac828f84
FRAGMENT_HASH=f1e1339bb715568cbe
FRAGMENT_POLL_HASH=28c1be12314734f79e
FRAGMENT_AUTO_REFRESH=true
TON_ENDPOINT=https://toncenter.com/api/v2/jsonRPC
TON_API_KEY=
TON_MNEMONIC=
TON_AUTOPAY=true
EPUSDT_BASE_URL=https://api.epusdt.com
EPUSDT_TOKEN=
EPUSDT_NOTIFY_URL=https://your-domain.com/epusdt/notify
EPUSDT_REDIRECT_URL=https://your-domain.com/order/success
SERVER_PORT=3000
ORDER_TTL_SECONDS=900
ORDER_MAX_ENTRIES=500
HTTP_PROXY=http://127.0.0.1:7897

